<h1><%= @page_title %></h1>

<h3>Book: <span class="green"><%= @book.title() %> </span></h3>

<form action="/add_authors" method="post">
  <div class="form-group">
     <label for="author">Add Author:</label>
     <input id="author" name="author" class="form-control" type="text" required>
  </div>

  <button type="submit" class="btn-success">Add</button>
</form>

<br>

<a href="/">Return to Homepage</a>

<hr>

<% if @book.authors().size() > 0 %>
<h3>Authors:</h3>
  <ul>
    <% @book.authors().each() do |author| %>
      <li><%= author.text %></li>
    <% end %>
  </ul>
<% end %>
