<h3>Book: <span class="green"><%= @book.title() %> </span></h3>

<form action="/add_authors" method="post">
  <div class="form-group">
     <label for="author">Add Author:</label>
     <input id="author" name="author" class="form-control" type="text" required>
  </div>
  <div>
    <input type="hidden" id="word_id" name="word_id" value="<%= @word.id %>">
  </div>
  <button type="submit" class="btn-success">Add</button>
</form>

<br>

<a href="/">Return to Homepage</a>

<hr>

<% if @word != nil %>
  <% if @word.authors().size() > 0 %>
  <h3>Authors:</h3>
    <ul>
      <% @word.authors().each() do |author| %>
        <li><%= author.text %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
