<h1><%= @page_title %></h1>

<form action="/add_book" method="post">
  <div class="form-group">
     <label for="book">Add Book:</label>
     <input id="book" name="book" class="form-control" type="text" required>
  </div>

  <button type="submit" class="btn-success">Add</button>
</form>

<hr>



<% if Book.all().size > 0 %>
  <h3>Book List:</h3>
    <ul>
      <% Book.all().each() do |book| %>

        <li><a href="/books/<%= book.id() %>"><%= book.title %></a></li>
      <% end %>
    </ul>
  <% end %>
